.column-primary {
	width: 70%;
	height: auto;
	margin: 5px;
}

.column-primary p {
	white-space: pre-wrap;
}

.column-secondary {
	width: calc(30% - 30px);
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	display: inline-flex;
	flex-direction: column;
	gap: 15px;
}

.secondary-section {
	padding: 10px;
	padding-top: 5px;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
}

.secondary-inner {
     height: calc(100% - 51.5px);
}

.status-box {
    height: auto;
    flex-shrink: 0;
}

.status-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.status-divider {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.status-divider span {
    font-weight: bold;
}

.updates-box, .sites-box {
    min-height: 150px;
}

.updates-box {
    flex-shrink: 5;
}

.updates-list {
	overflow-y: auto;
}

.updates-list:last-child {
    margin-bottom: 10px;
}

.updates-list li {
	line-height: 1.2;
}

.updates-list li + li {
  border-top: 2px dotted;
  margin-top: 10px;
  padding-top: 10px;
}

.sites-box {
    flex-shrink: 1;
}

.sites-list {
    width: 100%;
    overflow-y: auto;
}

.sites-list ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
    list-style-type: none;
    margin-bottom: 15px;
}

.sites-list img {
	width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.button-box {
    flex-shrink: 0;
    height: auto;
}

/* CONTENT Media query for smaller screens */
@media (max-width: 830px) {
	.column-primary {
		width: auto;
	}
	
	.column-secondary {
	    position: relative;
		width: auto;
		gap: 15px;
	}
	
	.sites-box {
	    height: auto;
	}
	
	.updates-box {
		height: 300px;
		text-align: center;
	}
}
